.footer-section {
    padding: 18px 0;

    .wrapper {
        width: 69%;
        @include flex();
        @include align($align: center);
        @include justify($justify: space-between);
        .section-para { margin-top: 0; }
    }
    
    .highlighted {
        color: map-get($map: $colors, $key: black);
        @include transition(all, .2s, ease-in-out);
    }

    &__medea-list {
        @include flex();
        @include align($align: center);
        @include shortFlex($flexBasis: 27%);

        li:not(:last-child) { margin-right: 30px; }
    }

    @at-root {
        @include responsive-reverse(map-get($devices, tablet)) {
            .highlighted:hover { color: map-get($map: $colors, $key: primaryColor); }
            .icon:hover::before { color: map-get($map: $colors, $key: primaryColor); }
        }
        
        @include responsive(map-get($devices, tablet)){
            & .wrapper { @include direction($direction: column); }
            &__medea-list { margin-top: 20px; }
        }   
    }
}