/*=================================
  Header styling starts here
=================================*/

.header-section {
  padding: 38px 0;
  width: 100%;
  text-align: center;
  @include position(fixed, $z-index: 1);

  & .wrapper {
    @include flex();
    @include align($align: center);
    @include justify($justify: space-between);
  }

  &__logo {
    @include font($size: 25px);

    .soft-landing-logo {
      color: map-get($map: $colors, $key: white);
      white-space: nowrap;
      @include transition(all, .2s, ease-in-out);
    }
  }

  &__navbar {
    @include flex();
    @include align($align: center);
    @include shortFlex(47%);
  }

  &__nav-list {
    @include flex();
    @include align($align: center);

    & li:not(:last-child) { margin-right: 45px; }

    & a {
      color: map-get($map: $colors, $key: white);
      text-align: center;
      text-transform: capitalize;
      white-space: nowrap;
      @include font($size: 17px);
      @include transition(all, .2s, ease-in-out)
    }
  }

  &__mail {

    a {
      color: map-get($map: $colors, $key: white);
      @include font($size: 17px);
      @include transition(all, .2s, ease-in-out);
    }
  }

  &__mail-contact {
    @include flex();
    @include align($align: center);
    @include justify($justify: end);
    @include shortFlex(17%);
  }

  &__hamburger { display: none; }

  .bar {
    margin: 4px;
    width: 18px;
    height: 2px;
    display: block;
    background-color: #fff;
    text-indent: -9999px;
    @include transition(all 0.3s ease-out);
  }
  

  @at-root {
    @include responsive-reverse(map-get($devices, tablet)) {
      & a:hover { color: map-get($map: $colors, $key: primaryColor); }
    }

    @include responsive(map-get($devices, tablet)){
      &__hamburger { display: block; }
      &__navbar { display: none; }
      &__mail { margin-right: 5%; }
      &__mail-contact { @include shortFlex(55%); }
    }

    @include responsive(map-get($devices, ipad)){
      &__mail a { @include font($size: 15px); }
      &__logo { @include font($size: 23px); }
    }
  }
}

/*=================================
  Header styling ends here
=================================*/