$colors: (
  primaryColor: #28CA8E,
  secondaryColor: #202020,
  opacityColor: hsla(225, 30%, 21%, 0.863),
  white: #fff,
  lightdarkWhite: #F9F9F9,
  black: #000,
  lightBlack: #4b4747,
  yellowishWhite: #c2bebe,
  lightGrey: #797676,
  darkGrey: #85948F,
);

$devices: (
  largeLaptop: 1440px,
  laptop: 1280px,
  smallLaptop: 1024px,
  tablet: 995px,
  ipad: 768px,
  extralargePhone: 640px,
  largePhone: 480px,
  mediumPhone: 375px,
  smallPhone:320px
);

$iconContent: (
  facebook: "\f082",
  instagram: "\f16d",
  twitter: "\f099",
)